@model Invoice

@{
    ViewData["Title"] = "Create";
    var customers = ViewData["Customers"] as SelectList;
}

<section class="ip-box-container">
    <h2>Customer</h2>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.Customer" class="control-label"></label>
                        <select asp-for="@Model.CustomerId" asp-items="customers" class="form-control"></select>
                        <span asp-validation-for="@Model.CustomerId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="tb_product" class="control-label"></label>
                        <input id="tb_product" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="tb_qty" class="control-label"></label>
                        <input id="tb_qty" class="form-control" min="1" value="1" />    
                    </div>
                    <div class="form-group">
                        <label for="tb_price" class="control-label"></label>
                        <input id="tb_price" type="number" class="form-control" min="1" value="1" />
                    </div>
                    <div class="form-group">
                        <button id="btn_add_item" type="button" class="btn btn-success dev-btn-block">Add</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tb_items" class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>TotalItbis</th>
                                    <th>SubTotal</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary dev-btn-block" />
                    <a asp-action="Index" class="btn btn-secondary dev-btn-block">Back to List</a>
                </div>
            </form>
            </div>
        </div>
</section>

@section Scripts {
    <script src="~/js/invoices.js" asp-append-version="true"></script>
}